{ % load static  % }
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Squirrel Tracker</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- Our CSS -->
    <link rel="stylesheet" href="custom.css">
  </head>

  <!-- BODY ------------------------------------------------- -->
  <body>

  <!-- NAVBAR ----------------------------------------------- -->
    <!-- <nav class="navbar navbar-light navbar-expand-lg" style="background-color: #d5e433;">      
        <div class="collapse navbar-collapse" id="navbarColor02">
            <a class="nav-link" href="">Home</a>
          <ul class="navbar-nav ml-auto mr-1">
            <li class="nav-item">
              <a class="nav-link" target="_blank" href="">Map</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" target="_blank" href="">Sightings</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="">Statistics</a>
            </li>
          </ul>
        </div>
      </nav> -->

<!-- MAIN IMAGE & TITLE -------------------------------------------------------------------------------------->
    
<div class="hero text-center">
    <h1>Squirrel Tracker</h1>        
</div>
<div class="container head">
    <div class="row margin-top-50">
        <div class="col-md-2">
        </div>
    </div>
</div>


<!-- START THE FEATURETTES -->
<div class="container marketing">
    
    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">View, Add, or Update  Squirrel Sightings</h2>
            <p class="lead">Navigate to the sightings where you can: view a list of them all, update one from the list, or even add your own!
                In 2018, over 3,000 sightings were collected in NYC. The original data, from NYC OpenData, can be found <a href="https://data.cityofnewyork.us/Environment/2018-Central-Park-Squirrel-Census-Squirrel-Data/vfnx-vebw" target=_blank>here.</a>
            </p>
            <p><a class="btn btn-secondary" href="sightings.html" role="button" style="background-color: green;">View sightings &raquo;</a></p>
        </div>
        <div class="col-md-5">
            <img src="sightings.jpg" class="img-thumbnail">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Map of Squirrel Sightings</h2>
            <p class="lead">Zoom in and out of this map to see 100 squirrel sightings plotted. The map starts in Central Park.</p>
            <p><a class="btn btn-secondary" href="map.html" role="button" style="background-color: green">View map &raquo;</a></p>
        </div>
        <div class="col-md-5 order-md-1">
            <img src="map.jpg" class="img-thumbnail">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Statistics about Squirrel Sightings</h2>
            <p class="lead">Curious about certain demographics of the squirrels sighted so far? Want to see a summary of facts for these squirrels?</p>
            <p><a class="btn btn-secondary" href="stats.html" role="button" style="background-color: green">View stats &raquo;</a></p>
        </div>
        <div class="col-md-5">
            <img src="stats.jpg" class="img-thumbnail">
        </div>
    </div>

    <hr class="featurette-divider">

<!-- /END THE FEATURETTES -->

</div> <!--end container-->



    <!-- FOOTER -------------------------------------------------------------------------------------->
    <footer class="container">
        <p class="float-right"><a href="#">Back to top</a></p>
        <p>&copy; 2020 Natalie Crow and John Kim</p>
    </footer>
</body>
</html>
