{ % load static  % }
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <title>Squirrel Tracker Stats</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap core CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<link rel="stylesheet" href="custom.css">
	  
  </head>
  <body>

     <!-- NAVBAR ----------------------------------------------- -->
     <nav class="navbar navbar-dark navbar-expand-lg" style="background-color:green">
        <a class="navbar-brand" href="index.html">Squirrel Tracker</a>    
        <div class="collapse navbar-collapse" id="navbarColor02">
          <ul class="navbar-nav ml-auto mr-1">
            <li class="nav-item">
              <a class="nav-link" target="_blank" href="sightings.html">Sightings</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="map.html">Map</a>
            </li>
          </ul>
        </div>
      </nav>


<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">Squirrel Statistics from Sightings</h1>
  <p class="lead">Fun facts and stats about the squirrel sightings</p>
</div>

<div class="container">

<p>There are no sightings. Please add one.</p>

   <div class="card-deck mb-3 text-center">
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Stat</h4>
      </div>
      <div class="card-body">
        <ul class="list-unstyled mt-3 mb-4">
		  <li>Number</li>
          <li> Number </li>
          <li> Number </li>
        </ul>
      </div>
    </div>
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Stat</h4>
      </div>
      <div class="card-body">
        <ul class="list-unstyled mt-3 mb-4">
          <li>Number</li>
          <li>Number</li>

          <li>Overall Number</li>
        </ul>
      </div>
    </div>
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Stat</h4>
      </div>
      <div class="card-body">
        <ul class="list-unstyled mt-3 mb-4">
          <li>Number</li>
          <li>Number</li>
          <li>Number</li>
        </ul>
      </div>
    </div>
	
	
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Stat</h4>
      </div>
      <div class="card-body">
        <ul class="list-unstyled mt-3 mb-4">
          <li>Number</li>
          <li>Number</li>
          <li>Number</li>
        </ul>
      </div>
    </div>
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Stat</h4>
      </div>
      <div class="card-body">
        <ul class="list-unstyled mt-3 mb-4">
          <li>Number</li>
          <li>Number</li>
          <li>Number</li>
        </ul>
      </div>
    </div>

	
  </div>


</div>
<hr>
    <!-- FOOTER -------------------------------------------------------------------------------------->
    <footer class="container">
        <p class="float-right"><a href="#">Back to top</a></p>
        <p>&copy; 2020 Natalie Crow and John Kim</p>
    </footer>

 </body>
</html>
